Flask==2.3.2
Flask-SocketIO==5.3.4
Flask-SQLAlchemy==3.0.5
Flask-Limiter==3.3.1
Flask-Talisman==1.1.0
Flask-CORS==4.0.0
Werkzeug==2.3.6
python-socketio==5.9.0
eventlet==0.33.3
psycopg[binary]
gunicorn==21.2.0
python-dotenv==1.0.0
